.about {
    background-image: url("C:/Users/micha/WebstormProjects/reznictvi/src/img/prodejna.png");
    background-color: #000000;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
h1.about__text {
    color: #3c4858;
    font-size: 36px;
}
.about__box {
    border-radius: 5px;
    width: 100%;
    background-color: #f4f4f5;
    padding: 30px;
    transition: .4s ease;
}
.about__text {
    padding: 10px;
}
.about__img {
    padding: 0;
    align-items: center;
}
.about__img img {
    border-radius: 5px;
    width: 58%;
}
.about__btn:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgb(10 0 2 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(10 0 2 / 20%);
    box-shadow: 0 14px 26px -12px rgb(10 0 2 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(10 0 2 / 20%);
}
.col__2.img {
    align-self: center;
    text-align: center;
}
.about .col__2:hover img {
    transform: scale(1.15);
    transition: .5s ease;
}